name: Lint PR Title
on: [pull_request]

permissions:
  contents: read
  pull-requests: read

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Dependencies
        run: npm install @commitlint/config-conventional@16.0.0
      - uses: JulienKode/pull-request-name-linter-action@v0.5.0